# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

damArea/tests/
damArea/fetch_dam/dam_database.json
tests/test_khadakwasla.py
/tests
fetch_dam/dam_database.json

# Local Pipeline Caches
.cache/
